
html, body {width: 100%;height: 100%;margin: 0;padding: 0; }
button {
    width: 50%;
    margin: 5px !important;
    padding: 5px;
    border-radius: 5px !important;

    background-color: white;
    cursor: pointer;
}
#map {position:absolute;top:0;bottom:0;right:0;left:0;}
#types {
    position: absolute;
    top: 12.5%;
    bottom: 0;
    right: 0;
    left: 0.75%;

    display: flex;
    flex-direction: column;

    width: 12.5%;
    height: fit-content;

    padding: 10px 10px 0px 10px;

    border-radius: 5%;
    background-color: white;

    z-index: 999;
}

#types p {
    cursor: pointer;
}

#bold {
    font-weight: bold;
}

.leaflet-popup-content {
    font-size: 12px !important;
}

.detailsButton {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    color:black;
    padding: 5px 5px !important;
    margin: 2px 0 0 !important;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif; 
}
.detailsButton:hover {
    background-color: #a7b7a8; 
    
}

.lvl_1, .lvl_2, .lvl_3, .lvl_4, .lvl_5 {
    padding: 2px;
    border-radius: 5px;

    font-size: 12px;
    text-align: center;
}

.lvl_1 {
	color: black;
	background-color: lightgreen;
}

.lvl_2 {
	color: black;
	background-color: yellow;
}

.lvl_3 {
	color: black;
	background-color: orange;
}

.lvl_4 {
	color: black;
	background-color: darkorange;
}

.lvl_5 {
	color: black;
	background-color: red;
}
